doctype
html(lang="en")
  head
    include includes/head
    link(rel='stylesheet', href='/css/index.css')

  body
    div.container-narrow
      include includes/header

      div.jumbotron
        h1 Xanga &#9658; Facebook
        p.lead
          | Import your Xanga blog posts to Facebook before Xanga shuts down&nbsp;
          img(src="/img/shocked.gif")
        a#login(href='/auth/facebook')
        div.fb-like(
          data-href="http://fbximporter.jessechen.net/",
          data-send="false",
          data-width="180",
          data-show-faces="true",
        )
      hr

      div.row-fluid.marketing
        div.span6
          h4 Xanga to Facebook
          p
            | Xanga is shutting down end of July unless it reaches its&nbsp;
            a(
              href="https://xanga.crowdhoster.com/relaunch-xanga",
              target="_blank"
            ) fundraising goal of 60,000 dollars
            | .  Preserve your old xanga posts by importing them to Facebook
            | before your data is forever deleted.&nbsp;
            img(src="/img/censored.gif")
            br
            br
            br
            br

          h4 Facebook Login
          p
            | FBX Importer requires Facebook Login.  However, The only
            | permission that we ask is the ability to create Facebook Notes on
            | your behalf.  The default privacy for those notes is&nbsp;
            b Only Me
            |  unless you choose otherwise.&nbsp;
            img(src="/img/silly.gif")

        div.span6
          h4 2 Minute Tutorial
          div
            | <iframe width="300" height="150" src="//www.youtube.com/embed/f69l9ZhuvPo?rel=0" frameborder="0" allowfullscreen></iframe>

          h4 Open Source
          p
            | FBX Importer is open source, which means that you and others can see
            | the source code that makes this app work.  We do not store your xanga
            | entries (not that we even want to read it anyway).  Feel free to&nbsp;
            a(
              href="https://github.com/meltedxice/FBX-Importer",
              target="_blank"
            ) check it out on GitHub
            | .&nbsp;
            img(src="/img/cool.gif")

      include includes/footer