doctype
html(lang="en")
  head
    include includes/head
    script(src="/js/bootstrap-modal.js")
    script(src="/js/upload.js")

  body
    - function isEmptyObject(obj) {
    -      var name;
    -      for (name in obj) {
    -        return false;
    -      }
    -      return true;
    -    }
    div.container-narrow
      include includes/header

      div.form
        - if (isEmptyObject(errors) == false)
          div.alert.alert-error
            p.errorMessage= "The following errors occurred:"
            ul
            - each error in errors
              li!= error

        h1 Upload archive.zip
        p
          a(
            href="http://www.xanga.com/private/archives.aspx",
            target="_blank"
          ) Request an archive of your xanga
          |  and then upload your "archive.zip" (without quotations) file here.

        p
          | Your FB Notes will be published under
          b  #{name}
          |  with the privacy setting
          b  #{privacyString}
          | .
        p
          | Please make absolutely sure this is correct.  If you want to
          | change the privacy setting, go to your&nbsp;
          a(
            href="https://www.facebook.com/settings?tab=applications"
          ) Facebook App Settings
          |  to change the publishing privacy of this app.
        p
          | Protip: Once you upload the zip file, there is no turning back.  We
          | will begin to post, possibly hundreds of, notes to your account as
          | we parse the zip file.  If you are really paranoid, you can use a
          | test account to do a "dry run" and make sure you like what you see
          | before doing it on your real account.

        form(method="post", action="/processing", enctype="multipart/form-data")
          input(type="file", accept="application/zip", name="archive")

        div.form-actions
          button.btn.btn-primary(
            type="submit",
            data-toggle="modal",
            data-target="#confirm_dialog"
          ) Upload

      div#confirm_dialog.modal.hide.fade(role="dialog", aria-hidden="true")
        div.modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
          h3 Are you sure?
        div.modal-body
          p
            | Your FB Notes will be published under
            b  #{name}
            |  with the privacy setting
            b  #{privacyString}
            | .
          p
            | Once you click submit, the import will begin and you cannot cancel.
        div.modal-footer
          button.btn(data-dismiss="modal", aria-hidden="true") Cancel
          button.submitBtn.btn.btn-primary Submit

      include includes/footer