doctype
html(lang="en")
  head
    include includes/head


  body
    - function isEmptyObject(obj) {
    -      var name;
    -      for (name in obj) {
    -        return false;
    -      }
    -      return true;
    -    }
    div.container-narrow
      include includes/header

      div.form
        - if (isEmptyObject(errors) == false)
          div.alert.alert-error
            p.errorMessage= "The following errors occurred:"
            ul
            - each error in errors
              li!= error

        h1 Upload zip file
        p
          a(
            href="http://www.xanga.com/private/archives.aspx",
            target="_blank"
          ) Request an archive of your xanga
          |  and then upload your "archive.zip" (without quotations) file here.

        p
          | Your FB Notes will be published with the privacy setting
          b  #{privacyString}
        p
          | Please make absolutely sure this is correct.  If you want to
          | change it, go to your
          a(
            href="https://www.facebook.com/settings?tab=applications"
          )  Facebook App Settings
          |  to change the publishing privacy of this app.

        form(method="post", action="/processing", enctype="multipart/form-data")
          input(type="file", accept="application/zip", name="archive")

          div.form-actions
            button(type="submit", class="btn btn-primary") Upload

      include includes/footer